* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Raleway;
	text-transform: capitalize;
}
body {
	width: 100%;
	height: 200vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.2)) ,url('img/fondo1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	transition: 1s;
	position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1};


}
.mensaje {
	width: auto;
	background: transparent;
	position: fixed;
	top: 90%;
	left:95%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 10px 0px;
	color: yellow;
}
.mensaje img {
	width: 50px;
}


nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
}

.logo {
	color: white;
	font-size: 28px;

}
span {
	color: yellow;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px;
}
nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}
nav ul li a:hover {
	color: black;
	background: yellow;
	transition: 0.5s;
}
button {
	border: none;
	background: yellow;
	padding: 10px 10px;
	border-radius: 30px;
	color: black;
	font-weight: bold;
	font-size: 15px;
	transition: 0.4s;
}
button:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.portada {
	margin-top: 12.5%;
	margin-left: 10%;
	color: white;
}
.portada h1 {
	font-size: 4em;
	line-height: 70px;
	font-weight: 100px;
}
.portada p {
	line-height: 28px;
}
.link {
	margin-top: 30px;
}
.link a {
	color: white;
	text-decoration: none;
	display: inline-block;
}
.btn {
	border: 2px solid white;
	padding: 10px 35px;
	border-radius: 30px;
	margin-right: 15px;
}
.catalogo {
	width: 100%;
	margin: auto;
	background: white;
	margin-top: 20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
	
}
.catalogo .cuadro {
	width: 25%;
	padding: 10px;
	background: #f1f1f1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.catalogo .cuadro .contenido-imagen {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.catalogo .cuadro img {
	width: 100%;
	vertical-align: top;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.catalogo .cuadro small {
	width: 100%;
	font-size: 1em;
	display: flex;
	font-weight: cursive;
	background: rgba(1,1,1,0.8);
	color: #f1f1f1;
	padding: 10px 0px;
	font-family: cursive;
	justify-content: center;
}
.catalogo .cuadro small:hover {
	background: white;
	cursor: pointer;
	color: black;
}
footer {
	width: 100%;
	padding: 20px 0px;
	background: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	
	

}
footer .informacion {
	width: auto;
	padding: 10px 0px;
}
footer .informacion a {
	padding: 10px;
	text-decoration: none;
	color: black;
	font-weight: normal;
	font-size: 0.9em;
	background: white;

}
@media(max-width: 900px) {
  .catalogo .cuadro {
	width: 33.33%;
	
}
}
@media (max-width: 650px) {
  .mensaje {
  	top: 90%;
	left:10%;
  }
  .logo {
    width: 80%;
    order: 1;
  
  }
  nav ul {
  	width: 100%;
  	display: flex;
  	justify-content: center;
  	order: 3;
  }
  nav ul li{
	width: 100%;

	

  }
  nav ul li a {
  	
  	justify-content: center;
  	border: none;
  	border-bottom: 2px solid yellow;


  }
   nav ul li .c {
   	background: yellow;
   	color: black;
   }

  button {
  	width: 20%;
  	
  	order: 2;
  	  }
  .portada {
  	margin-left: 0%;
  	width: 100%;
  	text-align: center;
  }
  .portada p {
  	text-align: center;
  }
  .portada h1 {
  	font-size: 3em;

  }
  .catalogo .cuadro {
	width: 50%;
	
}
}
@media (max-width: 550px) {
  .catalogo .cuadro {
	width: 100%;
	
}
}
